USE [SWE_White]
GO
ALTER TABLE [dbo].[MEDICATION] DROP CONSTRAINT [MDCATIONPTENTPATIENTID]
GO
ALTER TABLE [dbo].[APPOINTMENT] DROP CONSTRAINT [PPNTMENTPTENTPATIENTID]
GO
/****** Object:  Table [dbo].[SEQUENCE]    Script Date: 10.12.2015 13:48:03 ******/
DROP TABLE [dbo].[SEQUENCE]
GO
/****** Object:  Table [dbo].[PATIENT]    Script Date: 10.12.2015 13:48:03 ******/
DROP TABLE [dbo].[PATIENT]
GO
/****** Object:  Table [dbo].[MEDICATION]    Script Date: 10.12.2015 13:48:03 ******/
DROP TABLE [dbo].[MEDICATION]
GO
/****** Object:  Table [dbo].[APPOINTMENT]    Script Date: 10.12.2015 13:48:03 ******/
DROP TABLE [dbo].[APPOINTMENT]
GO
/****** Object:  Table [dbo].[APPOINTMENT]    Script Date: 10.12.2015 13:48:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPOINTMENT](
	[APPOINTMENTID] [int] NOT NULL,
	[APPOINTMENT] [image] NULL,
	[PATIENT_PATIENTID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[APPOINTMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MEDICATION]    Script Date: 10.12.2015 13:48:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MEDICATION](
	[MEDICATIONID] [int] NOT NULL,
	[DOSAGE] [varchar](255) NULL,
	[DRUGID] [int] NULL,
	[FROMDATE] [image] NULL,
	[PICTURE] [varchar](255) NULL,
	[STATUSID] [int] NULL,
	[TODATE] [image] NULL,
	[UNIT] [varchar](255) NULL,
	[PATIENT_PATIENTID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MEDICATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PATIENT]    Script Date: 10.12.2015 13:48:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PATIENT](
	[PATIENTID] [int] NOT NULL,
	[BIRTHDAY] [image] NULL,
	[CITY] [varchar](255) NULL,
	[EMAIL] [varchar](255) NULL,
	[FIRSTNAME] [varchar](255) NULL,
	[GENDER] [varchar](255) NULL,
	[HARMID] [int] NULL,
	[LASTNAME] [varchar](255) NULL,
	[PICTURE] [varchar](255) NULL,
	[SSN] [varchar](255) NULL,
	[STREET] [varchar](255) NULL,
	[ZIP] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PATIENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SEQUENCE]    Script Date: 10.12.2015 13:48:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SEQUENCE](
	[SEQ_NAME] [varchar](50) NOT NULL,
	[SEQ_COUNT] [numeric](28, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[SEQ_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[APPOINTMENT]  WITH CHECK ADD  CONSTRAINT [PPNTMENTPTENTPATIENTID] FOREIGN KEY([PATIENT_PATIENTID])
REFERENCES [dbo].[PATIENT] ([PATIENTID])
GO
ALTER TABLE [dbo].[APPOINTMENT] CHECK CONSTRAINT [PPNTMENTPTENTPATIENTID]
GO
ALTER TABLE [dbo].[MEDICATION]  WITH CHECK ADD  CONSTRAINT [MDCATIONPTENTPATIENTID] FOREIGN KEY([PATIENT_PATIENTID])
REFERENCES [dbo].[PATIENT] ([PATIENTID])
GO
ALTER TABLE [dbo].[MEDICATION] CHECK CONSTRAINT [MDCATIONPTENTPATIENTID]
GO


INSERT INTO PATIENT VALUES (1, 0xACED00057372000D6A6176612E74696D652E536572955D84BA1B2248B20C00007870770703000007A70B0678, 'Princeton', 'gregory.house@priceton-plainsboro.com', 'Gregory', 'male', '1',' House', 'smiley', '12345', 'Baker Street 221b', '08541');
INSERT INTO PATIENT VALUES (2, 0xACED00057372000D6A6176612E74696D652E536572955D84BA1B2248B20C00007870770703000007B8090978, 'San DiFrangeles', 'johnathanmichael.dorian@sacred-heart.com', 'Jonathan Michael', 'male', '3',' Dorian', 'smiley', '12346', 'Burns Street 5', '04676');
INSERT INTO PATIENT VALUES (3, 0xACED00057372000D6A6176612E74696D652E536572955D84BA1B2248B20C00007870770703000007B80A0378, 'San DiFrangeles', 'christopher.turk@sacred-heart.com', 'Christopher', 'male', '2',' Turk', 'smiley', '12347', 'Burns Street 5', '04676');
GO


INSERT INTO MEDICATION VALUES (1, 5, 1, 0xACED00057372000D6A6176612E74696D652E536572955D84BA1B2248B20C00007870770E05000007DF0C0A0D252C053EC60078, 'http://pictures.documed.ch/WV_GetPictures/3199_pif_f.jpg',1, 0xACED00057372000D6A6176612E74696D652E536572955D84BA1B2248B20C00007870770E05000007DF0C0A0D252C059A538078, 'gram',1 );
GO
