<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
 </head> 
 <body> 
  <vaadin-horizontal-layout height-full="true" margin="true"> 
   <vaadin-vertical-layout spacing="true" width="428px" margin-top="true"> 
   <vaadin-horizontal-layout> 
    <vaadin-button width="238px" plain-text="" _id="btnBack">
      zurück 
    </vaadin-button> 
    <vaadin-button _id="logout" :middle="" :right="">
        Logout
    </vaadin-button> 
    </vaadin-horizontal-layout>
    <vaadin-horizontal-layout> 
     <vaadin-vertical-layout spacing="true" size-auto="true" margin-top="true"> 
      <vaadin-label style-name="h3" size-auto="true" plain-text="">
        MIRTAZAPIN Sandoz Filmtabl 30 mg 
      </vaadin-label> 
      <vaadin-label size-auto="true" plain-text="">
        N06AX11 Antidepressivum, tetrazyklisch 
      </vaadin-label> 
      <vaadin-image source="http://pictures.documed.ch/WV_GetPictures/1186552_paf_f.jpg?key=productID" width="254px"></vaadin-image> 
     </vaadin-vertical-layout> 
     <vaadin-vertical-layout spacing="true" size-auto="true" margin-left="true" margin-top="true"> 
      <vaadin-label style-name="h4" size-auto="true" plain-text="">
        Zusammensetzung: 
      </vaadin-label> 
      <vaadin-label size-auto="true" plain-text="">
        Mirtazapin 30 mg 
      </vaadin-label> 
     </vaadin-vertical-layout> 
    </vaadin-horizontal-layout> 
   </vaadin-vertical-layout> 
  </vaadin-horizontal-layout>  
 </body>
</html>