<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
 </head> 
 <body> 
  <vaadin-horizontal-layout size-full="true"> 
   <vaadin-image description="patientPicture" source="http://www.clker.com/cliparts/4/a/O/n/k/e/business-person-blue.svg" width="200px" height="237px" _id="patientPicture" :middle=""></vaadin-image> 
   <vaadin-vertical-layout size-auto="true" :middle=""> 
    <vaadin-horizontal-layout> 
     <vaadin-label size-auto="true" plain-text="">
       patient_title 
     </vaadin-label> 
    </vaadin-horizontal-layout> 
    <vaadin-horizontal-layout> 
     <vaadin-label size-auto="true" plain-text="" _id="patient_firstname">
       patient_firstname 
     </vaadin-label> 
     <vaadin-label size-auto="true" plain-text="" _id="patient_lastname">
       patient_lastname 
     </vaadin-label> 
    </vaadin-horizontal-layout> 
    <vaadin-horizontal-layout> 
     <vaadin-label size-auto="true" plain-text="">
       Aufenthaltsort: 
     </vaadin-label> 
     <vaadin-label size-auto="true" plain-text="" _id="patient_location">
       patient_location 
     </vaadin-label> 
    </vaadin-horizontal-layout> 
   </vaadin-vertical-layout> 
   <vaadin-button height-full="true" plain-text="" _id="btnViewPatient" :middle="" :right="">
     &gt; 
   </vaadin-button> 
  </vaadin-horizontal-layout>  
 </body>
</html>