<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
  <meta name="package-mapping" content="weiss:ch.bfh.btx8081.weiss.view.statefulButton" />
 </head> 
 <body> 
  <vaadin-horizontal-layout height-full="true"> 
   <vaadin-vertical-layout spacing="true" size-auto="true" margin="true"> 
    <vaadin-label size-auto="true" plain-text="" _id="lblPatientName">
      Medication 
    </vaadin-label> 
    <vaadin-vertical-layout width="258px" height-full="true"> 
     <vaadin-list-select null-selection-allowed="false" item-caption-mode="id" width="232px" height="560px" _id="drugList"></vaadin-list-select> 
    </vaadin-vertical-layout> 
   </vaadin-vertical-layout> 
   <vaadin-vertical-layout spacing="true" width="428px" margin-top="true"> 
    <vaadin-horizontal-layout> 
     <vaadin-button description="zurück zum Patient" width="238px" plain-text="" _id="btnBack">
       zurück 
     </vaadin-button> 
     <vaadin-button description="Kompendium anzeigen" width="238px" plain-text="" _id="btnCompendium" :right="">
       Kompendium 
     </vaadin-button> 
    </vaadin-horizontal-layout> 
    <vaadin-label size-auto="true" plain-text="">
      Täglich: 
    </vaadin-label> 
    <vaadin-horizontal-layout spacing="true" :middle="" :center=""> 
     <weiss-stateful-button width="50px" plain-text="" _id="btnDaily1">
       1x 
     </weiss-stateful-button> 
     <weiss-stateful-button width="50px" plain-text="" _id="btnDaily2">
       2x 
     </weiss-stateful-button> 
     <weiss-stateful-button width="50px" plain-text="" _id="btnDaily3">
       3x 
     </weiss-stateful-button> 
     <weiss-stateful-button width="50px" plain-text="" _id="btnDaily4">
       4x 
     </weiss-stateful-button> 
     <weiss-stateful-button width="50px" plain-text="" _id="btnDaily6">
       6x 
     </weiss-stateful-button> 
     <weiss-stateful-button width="50px" plain-text="" _id="btnDaily8">
       8x 
     </weiss-stateful-button> 
     <weiss-stateful-button width="50px" plain-text="" _id="btnDaily12">
       12x 
     </weiss-stateful-button> 
    </vaadin-horizontal-layout> 
    <vaadin-label size-auto="true" plain-text="">
      Tage: 
    </vaadin-label> 
    <vaadin-horizontal-layout spacing="true" immediate="true" :middle="" :center=""> 
     <weiss-stateful-button style-name="v-button-deselected" width="50px" plain-text="" _id="btnMon" :middle="" :center="">
       Mo 
     </weiss-stateful-button> 
     <weiss-stateful-button style-name="v-button-deselected" width="50px" plain-text="" _id="btnTue" :middle="" :center="">
       Di 
     </weiss-stateful-button> 
     <weiss-stateful-button style-name="v-button-deselected" width="50px" plain-text="" _id="btnWed" :middle="" :center="">
       Mi 
     </weiss-stateful-button> 
     <weiss-stateful-button style-name="v-button-deselected" width="50px" plain-text="" _id="btnThu" :middle="" :center="">
       Do 
     </weiss-stateful-button> 
     <weiss-stateful-button style-name="v-button-deselected" width="50px" plain-text="" _id="btnFri" :middle="" :center="">
       Fr 
     </weiss-stateful-button> 
     <weiss-stateful-button style-name="v-button-deselected" width="50px" plain-text="" _id="btnSat" :middle="" :center="">
       Sa 
     </weiss-stateful-button> 
     <weiss-stateful-button style-name="v-button-deselected" width="50px" plain-text="" _id="btnSun" :middle="" :center="">
       So 
     </weiss-stateful-button> 
    </vaadin-horizontal-layout> 
    <vaadin-label size-auto="true" plain-text="">
      Wochen: 
    </vaadin-label> 
    <vaadin-horizontal-layout spacing="true"> 
     <weiss-stateful-button width="50px" plain-text="" _id="btnWeeks1">
       1 
     </weiss-stateful-button> 
     <weiss-stateful-button width="50px" plain-text="" _id="btnWeeks2">
       2 
     </weiss-stateful-button> 
     <weiss-stateful-button width="50px" plain-text="" _id="btnWeeks3" :middle="" :center="">
       3 
     </weiss-stateful-button> 
     <weiss-stateful-button width="50px" plain-text="" _id="btnWeeks4">
       4 
     </weiss-stateful-button> 
     <weiss-stateful-button width="50px" plain-text="" _id="btnWeeks5">
       5 
     </weiss-stateful-button> 
     <weiss-stateful-button width="50px" plain-text="" _id="btnWeeks6">
       6 
     </weiss-stateful-button> 
     <weiss-stateful-button width="50px" plain-text="" _id="btnWeeksInfinitely">
       ∞ 
     </weiss-stateful-button> 
    </vaadin-horizontal-layout> 
    <vaadin-horizontal-layout> 
     <vaadin-vertical-layout spacing="true" size-auto="true" margin-top="true"> 
      <vaadin-label size-auto="true" plain-text="">
        Dosis: 
      </vaadin-label> 
      <vaadin-label size-auto="true" plain-text="" _id="lblDose" :right="">
        0.00 
      </vaadin-label> 
      <vaadin-horizontal-layout spacing="true"> 
       <vaadin-button width="43px" plain-text="" _id="btnDose7">
         7 
       </vaadin-button> 
       <vaadin-button width="43px" plain-text="" _id="btnDose8">
         8 
       </vaadin-button> 
       <vaadin-button width="43px" plain-text="" _id="btnDose9">
         9 
       </vaadin-button> 
      </vaadin-horizontal-layout> 
      <vaadin-horizontal-layout spacing="true"> 
       <vaadin-button width="43px" plain-text="" _id="btnDose4">
         4 
       </vaadin-button> 
       <vaadin-button width="43px" plain-text="" _id="btnDose5">
         5 
       </vaadin-button> 
       <vaadin-button width="43px" plain-text="" _id="btnDose6">
         6 
       </vaadin-button> 
      </vaadin-horizontal-layout> 
      <vaadin-horizontal-layout spacing="true"> 
       <vaadin-button width="43px" plain-text="" _id="btnDose1">
         1 
       </vaadin-button> 
       <vaadin-button width="43px" plain-text="" _id="btnDose2">
         2 
       </vaadin-button> 
       <vaadin-button width="43px" plain-text="" _id="btnDose3">
         3 
       </vaadin-button> 
      </vaadin-horizontal-layout> 
      <vaadin-horizontal-layout spacing="true"> 
       <vaadin-button width="43px" plain-text="" _id="btnDose0">
         0 
       </vaadin-button> 
       <vaadin-button width="43px" plain-text="" _id="btnDosePoint">
         . 
       </vaadin-button> 
       <vaadin-button width="43px" plain-text="" _id="btnDoseBackspace">
         ← 
       </vaadin-button> 
      </vaadin-horizontal-layout> 
     </vaadin-vertical-layout> 
     <vaadin-vertical-layout spacing="true" size-auto="true" margin-left="true" margin-top="true"> 
      <vaadin-label size-auto="true" plain-text="">
        Einheit: 
      </vaadin-label> 
      <vaadin-list-select null-selection-allowed="false" item-caption-mode="id" width="232px" height="146px" _id="unitList"> 
       <option>ml</option> 
       <option>cl</option> 
       <option>dl</option> 
       <option>l</option> 
       <option>gr</option> 
       <option>kg</option> 
      </vaadin-list-select> 
      <vaadin-button height="63px" plain-text="" _id="btnPrescripe" :bottom="">
        Verschreiben 
      </vaadin-button> 
     </vaadin-vertical-layout> 
    </vaadin-horizontal-layout> 
   </vaadin-vertical-layout> 
  </vaadin-horizontal-layout>  
 </body>
</html>