<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
 </head> 
 <body> 
  <vaadin-vertical-layout :top="" :right="" spacing="true">
    <vaadin-horizontal-layout _id="headerComponent" height="0" width="100%" :middle="" margin="0 0 0 10"> 
      <vaadin-label size-auto="true" :middle="">
        <b>Medikamente:</b>
      </vaadin-label>
      <vaadin-button description="Neue Medikation" width="238px" plain-text="" _id="btnNewMedication" :right="">
        Neue Medikation 
      </vaadin-button> 
    </vaadin-horizontal-layout> 

  </vaadin-vertical-layout>  
 </body>
</html>