<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
 </head> 
 <body> 
  <vaadin-horizontal-layout size-full="true"> 
   <vaadin-image description="patientPicture" source="http://www.clker.com/cliparts/4/a/O/n/k/e/business-person-blue.svg" width="100px" height="100px" _id="patientPicture" :middle=""></vaadin-image> 
   <vaadin-vertical-layout size-auto="true" :middle=""> 
    <vaadin-horizontal-layout> 
     <vaadin-label size-auto="true" plain-text="" _id="patient_title">
       patient_title 
     </vaadin-label> 
    </vaadin-horizontal-layout> 
    <vaadin-horizontal-layout> 
     <vaadin-label size-auto="true" plain-text="" _id="patient_name">
       patient_name 
     </vaadin-label> 
    </vaadin-horizontal-layout> 
    <vaadin-horizontal-layout spacing="true"> 
     <vaadin-label size-auto="true" plain-text="">
       Aufenthaltsort: 
     </vaadin-label> 
     <vaadin-label size-auto="true" plain-text="" _id="patient_location">
       patient_location 
     </vaadin-label> 
    </vaadin-horizontal-layout> 
   </vaadin-vertical-layout> 
   <vaadin-label size-auto="true" plain-text="" _id="patient_state" :middle="" :center=""></vaadin-label> 
     <vaadin-label size-auto="true" plain-text="" _id="patient_state2" :middle="" :center=""></vaadin-label> 
  
   <vaadin-image description="patientPicture" source="http://www.fontsaddict.com/images/icons/png/932.png" width="100px" height="100px" _id="patientPicture3" :middle="" :right=""></vaadin-image> 
  </vaadin-horizontal-layout>  
 </body>
</html>