<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
 </head> 
 <body> 
  <vaadin-vertical-layout size-full="true"> 
   <vaadin-horizontal-layout _id="headerComponent" width="100%" :middle="" margin="0 10 0 10"> 
    <vaadin-label size-auto="true" :middle="">
      <h1>Patienten</h1>
    </vaadin-label>
    <vaadin-button _id="logout" :middle="" :right="">
        Logout
    </vaadin-button> 
   </vaadin-horizontal-layout> 
  </vaadin-vertical-layout>  
 </body>
</html>