<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
 </head> 
 <body> 
  <vaadin-vertical-layout size-full="true"> 
   <vaadin-horizontal-layout :middle="" :center=""> 
    <vaadin-label size-auto="true" plain-text="">
      Patienten 
    </vaadin-label> 
   </vaadin-horizontal-layout> 
   <vaadin-horizontal-layout spacing="true" width-full="true" :center=""> 
    <vaadin-image source="http://www.clker.com/cliparts/4/a/O/n/k/e/business-person-blue.svg" width="100px" height="100px"></vaadin-image> 
    <vaadin-vertical-layout size-auto="true" :middle=""> 
     <vaadin-label size-auto="true" plain-text="">
       Name: 
     </vaadin-label> 
     <vaadin-label size-auto="true" plain-text="">
       Alter: 
     </vaadin-label> 
     <vaadin-label size-auto="true" plain-text="">
       Geschlecht: 
     </vaadin-label> 
    </vaadin-vertical-layout> 
    <vaadin-vertical-layout size-auto="true" :middle=""> 
     <vaadin-label size-auto="true" plain-text="">
       Name 
     </vaadin-label> 
     <vaadin-label size-auto="true" plain-text="">
       Alter 
     </vaadin-label> 
     <vaadin-label size-auto="true" plain-text="">
       Geschlecht 
     </vaadin-label> 
    </vaadin-vertical-layout> 
    <vaadin-image source="http://www.fontsaddict.com/images/icons/png/932.png" width="100px" height="100px"></vaadin-image> 
   </vaadin-horizontal-layout> 
   <vaadin-horizontal-layout spacing="true" width-full="true" :center=""> 
    <vaadin-image source="http://www.clker.com/cliparts/4/a/O/n/k/e/business-person-blue.svg" width="100px" height="100px"></vaadin-image> 
    <vaadin-vertical-layout size-auto="true" :middle=""> 
     <vaadin-label size-auto="true" plain-text="">
       Name: 
     </vaadin-label> 
     <vaadin-label size-auto="true" plain-text="">
       Alter: 
     </vaadin-label> 
     <vaadin-label size-auto="true" plain-text="">
       Geschlecht: 
     </vaadin-label> 
    </vaadin-vertical-layout> 
    <vaadin-vertical-layout size-auto="true" :middle=""> 
     <vaadin-label size-auto="true" plain-text="">
       Name 
     </vaadin-label> 
     <vaadin-label size-auto="true" plain-text="">
       Alter 
     </vaadin-label> 
     <vaadin-label size-auto="true" plain-text="">
       Geschlecht 
     </vaadin-label> 
    </vaadin-vertical-layout> 
    <vaadin-image source="http://www.fontsaddict.com/images/icons/png/932.png" width="100px" height="100px"></vaadin-image> 
   </vaadin-horizontal-layout> 
   <vaadin-horizontal-layout spacing="true" width-full="true" :center=""> 
    <vaadin-image source="http://www.clker.com/cliparts/4/a/O/n/k/e/business-person-blue.svg" width="100px" height="100px"></vaadin-image> 
    <vaadin-vertical-layout size-auto="true" :middle=""> 
     <vaadin-label size-auto="true" plain-text="">
       Name: 
     </vaadin-label> 
     <vaadin-label size-auto="true" plain-text="">
       Alter: 
     </vaadin-label> 
     <vaadin-label size-auto="true" plain-text="">
       Geschlecht: 
     </vaadin-label> 
    </vaadin-vertical-layout> 
    <vaadin-vertical-layout size-auto="true" :middle=""> 
     <vaadin-label size-auto="true" plain-text="">
       Name 
     </vaadin-label> 
     <vaadin-label size-auto="true" plain-text="">
       Alter 
     </vaadin-label> 
     <vaadin-label size-auto="true" plain-text="">
       Geschlecht 
     </vaadin-label> 
    </vaadin-vertical-layout> 
    <vaadin-image source="http://www.fontsaddict.com/images/icons/png/932.png" width="100px" height="100px"></vaadin-image> 
   </vaadin-horizontal-layout> 
   <vaadin-horizontal-layout spacing="true" width-full="true" :center=""> 
    <vaadin-image source="http://www.clker.com/cliparts/4/a/O/n/k/e/business-person-blue.svg" width="100px" height="100px"></vaadin-image> 
    <vaadin-vertical-layout size-auto="true" :middle=""> 
     <vaadin-label size-auto="true" plain-text="">
       Name: 
     </vaadin-label> 
     <vaadin-label size-auto="true" plain-text="">
       Alter: 
     </vaadin-label> 
     <vaadin-label size-auto="true" plain-text="">
       Geschlecht: 
     </vaadin-label> 
    </vaadin-vertical-layout> 
    <vaadin-vertical-layout size-auto="true" :middle=""> 
     <vaadin-label size-auto="true" plain-text="">
       Name 
     </vaadin-label> 
     <vaadin-label size-auto="true" plain-text="">
       Alter 
     </vaadin-label> 
     <vaadin-label size-auto="true" plain-text="">
       Geschlecht 
     </vaadin-label> 
    </vaadin-vertical-layout> 
    <vaadin-image source="http://www.fontsaddict.com/images/icons/png/932.png" width="100px" height="100px"></vaadin-image> 
   </vaadin-horizontal-layout> 
  </vaadin-vertical-layout>  
 </body>
</html>