<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
 </head> 
 <body> 
  <vaadin-vertical-layout spacing="true"> 
   <vaadin-horizontal-layout width-full="true" height="0px" margin="true" _id="headerComponent" :middle=""> 
    <vaadin-label size-auto="true" :middle=""> 
     <b>Problemliste / Verlauf:</b> 
    </vaadin-label> 
    <vaadin-button description="Neuer SOAP Eintrag" width="238px" plain-text="" _id="btnNewEntry" :right="">
      Neuer Eintrag 
    </vaadin-button> 
    <vaadin-button description="back" width="238px" plain-text="" _id="btnBack" :right="">
      zurück 
    </vaadin-button> 
   </vaadin-horizontal-layout> 
  </vaadin-vertical-layout>  
 </body>
</html>